@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import "tailwindcss";

*{
    --dark-blue: #03045E;
    --medium-blue: #0077B6;
    --blue: #00B4D8;
    --light-blue: #90E0EF;
    --extra-light-blue: #CAF0F8;
    font-family: "Rajdhani", serif;
}

.main-bg{
    background: var(--medium-blue);
    color: var(--extra-light-blue);
}

.navbar li{
    border-bottom: transparent 2px solid;
    transition: .15s linear;
}

.navbar li:hover{
    border-bottom-color: #CAF0F8;
}