@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
@import "tailwindcss";

* {
	--grid-cols: 0.75fr 1fr;
	font-family: "Rajdhani", serif;
	scroll-behavior: smooth;
}

.main-bg {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#1f1f1f,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#1f1f1f,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

.bg-gray{
    background: #1f1f1f;
}

.text-gray{
    background: #1f1f1f;
}

.border-gray{
    border-color: #5a5a5a;
}

hr {
    border-color: #5a5a5a;
}

.text-red{
    color: #ff6242;
}

.bg-red{
    background: #ff6242;
}

.text-main {
	color: white;
}

.navbar li {
	border-bottom: transparent 2px solid;
	transition: 0.15s linear;
}

.navbar li:hover {
	border-bottom-color: #caf0f8;
}
